<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaxio.wordsearch"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" />
  <Supported-screens android:anyDensity = "true" />
     <meta-data android:value="a150dc7b108e8f2" android:name="ADMOB_PUBLISHER_ID" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
 <activity
            android:name="com.xiaxio.wordsearch.WordSearchActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="Word Search HD Free"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	 <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
</manifest>